.main-banner {
	position:relative;
	text-align:center;
	margin:0 auto;
	width:728px;
	height:90px;
	opacity:0.95 !important;	
}

.main-toolbar {	
	position:relative;
	text-align:center;
	margin:0 auto;
	height:35px;
	width:728px;
	margin-bottom:25px;			
	padding:2px;
	opacity:0.85 !important;
}


.main-toolbar-btn{
	
	width:150px !important;
	height:30px !important;
	margin-right:50px !important;
	margin-left:50px !important;
	padding:25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	opacity:0.95 !important;
	
}