
.main-body {		
	position:relative;
	text-align:center;	
	padding:0;
	margin:0;
	background-color:lightblue;
	background-image:url('http://flightgrep-monsol.rhcloud.com/resources/images/beach.jpg');
     
}


.ui-widget .ui-widget {	
	font-size: 75% !important;
}

.search-form {			
	vertical-align:middle;
	width:400px !important;
	height:400px !important;	
	padding:0 !important;
	margin:0 auto !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;	
}

.search-panel {	
	position:relative;
	margin:0 auto !important;
	text-align:center;
	opacity:0.90;
	width:400px !important;
	height:400px !important;
	background-color:blue !important;	
	padding:0 !important;
	
}

.search-panelgrid {
	
	position:relative;
	margin:0 auto !important;
	text-align:center !important;		
	opacity:0.85;	
	width:400px !important;
	height:400px !important;	
	padding:0;
}

.calendar .ui-inputfield {
	text-align:center;
    font-weight: normal;
    outline: medium none;
    padding: 4px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    margin-bottom:15px;
      
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.search-form .ui-radiobutton {	
	text-align:center;
	padding-right:5px;
	padding-left:5px;	
}




.search-panelgrid .ui-panelgrid tr, .ui-panelgrid td {
	
 	border:0 !important;
 	border-style: none !important;
 	opacity:0.90;
}




